<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
    <p th:text="${book.getId() + ' - ' + book.getName() + ', ' + book.getAuthor() + ' (' + book.getDate() + ')'}">VALUE</p>

    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" value="Edit">
    </form>
    <br/>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Delete"/>
    </form>

    <div th:if="${owner}">
        <span>Book is now at: </span>
        <span th:text="${owner.getName()}">Person name</span>
        <form Th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
            <input type="submit" value="Release the book"/>
        </form>
    </div>

    <div th:if="${people}">
        <span>Book is free. Who to assign it to??</span>
        <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
            <label for="person">Choose person: </label>
            <select th:object="${person}" th:field="*{id}" id="person">
                <option th:each="person:${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
            </select>
            <input type="submit" value="Assign a book"/>
        </form>
    </div>
</body>
</html>